html{
	
}
body {
	height: 100%;

}

/*<--contact-->*/

.container-fluid {
	background-color: #f1f1f1;
	color: #a57e33;

}

#contpanel {
	margin-top: 40px;
	text-align: center;
	background-color: blue;
}

h2 {
	color: #a57e33;
}

h4 {
	color:  #a57e33;
}
.container{
	background-color: green;
}

.navtext {
	color: black;
}

.section {
	margin-top: 30px;
	height: 100%;
}

.footer {
	margin-top: 50px;
}





@media only screen and (max-width: 960px){
	body {
		background-color: blue;
	}
	.container-fluid {
		width: 100%;
		height: 70%;
	}
}

@media only screen and (max-width: 600px){
	body {
		background-color: green;

}

.container-fluid{
	position: static;
	min-width: 100%;
	
}

@media only screen and (max-width: 400px){
	body {
		background-color: yellow;
	}
}